<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:description) %>:</strong>
  <%= @report.description %>
</p>

<% if @report.user.id == current_user.id %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
  <%= link_to t('views.common.destroy'), @report, method: :delete, data: { confirm: t('views.common.delete_confirm') } %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
<hr>
<%= render partial: 'comments/comments', locals: { commentable: @report } %>
